<div class="contents row">
    <%= form_tag('/posts', method: :post) do %>
        <textarea cols="30" name="text" placeholder="本文" rows="10"></textarea>
        <input type="submit" value="送信">
    <% end %>
</div>